* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
}

body {
    background-color: gray;
}

h1 {
    font-size: 100px;
    color: black;
    text-align: center;
    height: 100px;
    color: white;
}

.clock {
    background-color: purple;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: auto;
    margin-top: 80px;
    border-radius: 100px;
    box-shadow: 0px 1px 20px 0px blue;
}

/* Now start Stop watch Style  */

.stopwatch {
    margin-top: 80px;
    background-color: rgba(136, 78, 136, 0.616);
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    box-shadow: 0px 15px 40px 10px white;
    height: 350px;
    width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 33%;
}

#display {
    font-size: 36px;
    margin: 10px;
}

.btns {
    display: flex;
    gap: 40px;
    font-size: 18px;
    margin: 5px;
    padding: 10px 20px;
}

.btns button {
    font-size: 25px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(201, 192, 192);
    border: none;
    width: 95px;
    cursor: pointer;
}

.btns button:hover {
    background-color: aliceblue;
}

.stopwatch h2 {
    font-size: 30px;
    margin-bottom: 10px;
}